# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Binaries and large builds
ffmpeg-8.0.1-essentials_build/

# Node dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Backend specific
aceit-backend/.env
aceit-backend/__pycache__/
aceit_backend/__pycache__/