# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
.env

# =====================
# Node / React
# =====================
node_modules/
dist/
build/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log

# =====================
# IDE
# =====================
.vscode/
.idea/
aceit_backend/.venv/
